a{
	color:white;
	text-decoration: none;
	font-size: 18px ;
	font-family: Showcard Gothic;
}
h1{
	font-family: Panther V01;
	text-align: center;
}
h2{
	font-family:  Showcard Gothic ;
	text-align: center;
}
h4{
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}
body {
	background-color: #A9A9A9;
	width: 80%;
	margin: auto;
}
.menu li {
	display: inline-block; 
	list-style:none;       
}
#menu {
text-align: center;
background-color: black;
}
span {
	color: white;
}