a{
	color: white;
	text-decoration: none;
	font-size: 18px ;
	font-family: Showcard Gothic
}
h2{
	font-family:  Showcard Gothic ;
}

h4{
	font-family: Arial;
}
.lado_esquerdo {
	float: left;
	width: 50%;
}
.lado_direito {
	float: right;
	width: 50%;
	margin: -2px;
}