a{
	color: white;
	text-decoration: none;
	font-size: 18px ;
	font-family: Showcard Gothic
}
h1{
	font-family:  Showcard Gothic ;
	text-align: center;
	color: white;
}
h2{
	font-family:  Showcard Gothic ;
	text-align: center;
	color: white;
}
h4{
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}
.lado_esquerdo {
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	width: 50%;
	text-align: justify;
	color:midnightblue;
}
.lado_direito {
	font-family: Arial, Helvetica, sans-serif;
	float: right;
	width: 50%;
	
	text-align: justify;
	color: red;
}
body {
	height : 100%;
	background: linear-gradient(90deg, #fc791e 50%, #000000 50%);
	width: 80%;
	margin: auto;
}
.menu li {
	display: inline-block; 
	list-style:none;       
}
#menu {
text-align: center;
background: linear-gradient(90deg,  #000000 50%,#fc791e  50%);
}
span {
	color: white;
}
img.displayed {
    display: block;
    margin-left: auto;
	margin-right: auto 
}